--
-- Create model Categoria
--
CREATE TABLE "CORE_CATEGORIA" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(60) NULL UNIQUE, "DESCRIPCION" NCLOB NULL);
--
-- Create model Marca
--
CREATE TABLE "CORE_MARCA" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(60) NULL UNIQUE);
--
-- Create model Pedido
--
CREATE TABLE "CORE_PEDIDO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "FECHA" TIMESTAMP NOT NULL, "TOTAL" NUMBER(12, 2) NOT NULL);
--
-- Create model Usuario
--
CREATE TABLE "CORE_USUARIO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "APELLIDOS" NVARCHAR2(100) NULL, "CORREO" NVARCHAR2(254) NULL UNIQUE, "DIRECCION" NVARCHAR2(255) NULL, "TELEFONO" NVARCHAR2(20) NULL, "ROL" NUMBER(11) NOT NULL, "CLAVE_SEGURA" NVARCHAR2(7) NULL);
--
-- Create model Juego
--
CREATE TABLE "CORE_JUEGO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "TITULO" NVARCHAR2(120) NULL, "PRECIO" NUMBER(10, 2) NOT NULL, "STOCK" NUMBER(11) NOT NULL CHECK ("STOCK" >= 0), "DESCRIPCION" NCLOB NULL, "IMAGEN" NVARCHAR2(255) NULL, "CATEGORIA_ID" NUMBER(19) NOT NULL, "MARCA_ID" NUMBER(19) NULL);
--
-- Create model DetallePedido
--
CREATE TABLE "CORE_DETALLEPEDIDO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "CANTIDAD" NUMBER(11) NOT NULL CHECK ("CANTIDAD" >= 0), "PRECIO_UNITARIO" NUMBER(10, 2) NOT NULL, "JUEGO_ID" NUMBER(19) NOT NULL, "PEDIDO_ID" NUMBER(19) NOT NULL);
--
-- Add field usuario to pedido
--
ALTER TABLE "CORE_PEDIDO" ADD "USUARIO_ID" NUMBER(19) NOT NULL CONSTRAINT "CORE_PEDI_USUARIO_I_2AEBB526_F" REFERENCES "CORE_USUARIO"("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "CORE_JUEGO" ADD CONSTRAINT "CORE_JUEG_CATEGORIA_81D7FC80_F" FOREIGN KEY ("CATEGORIA_ID") REFERENCES "CORE_CATEGORIA" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "CORE_JUEGO" ADD CONSTRAINT "CORE_JUEG_MARCA_ID_2DD5304F_F" FOREIGN KEY ("MARCA_ID") REFERENCES "CORE_MARCA" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "CORE_JUEGO_CATEGORIA__81D7FC80" ON "CORE_JUEGO" ("CATEGORIA_ID");
CREATE INDEX "CORE_JUEGO_MARCA_ID_2DD5304F" ON "CORE_JUEGO" ("MARCA_ID");
ALTER TABLE "CORE_DETALLEPEDIDO" ADD CONSTRAINT "CORE_DETA_JUEGO_ID_7CB9B62C_F" FOREIGN KEY ("JUEGO_ID") REFERENCES "CORE_JUEGO" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "CORE_DETALLEPEDIDO" ADD CONSTRAINT "CORE_DETA_PEDIDO_ID_1E562FB4_F" FOREIGN KEY ("PEDIDO_ID") REFERENCES "CORE_PEDIDO" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "CORE_DETAL_JUEGO_ID_7CB9B62C" ON "CORE_DETALLEPEDIDO" ("JUEGO_ID");
CREATE INDEX "CORE_DETAL_PEDIDO_ID_1E562FB4" ON "CORE_DETALLEPEDIDO" ("PEDIDO_ID");
CREATE INDEX "CORE_PEDID_USUARIO_ID_2AEBB526" ON "CORE_PEDIDO" ("USUARIO_ID");
