{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="Cronicas del Abismo" content="width=device-width, initial-scale=1.0">
    <title>Survival - Cronicas del Abismo</title>     
    <link rel="stylesheet" href="{% static 'css/styles_g3.css' %}">
</head>
<body>

    <header>
        {% include "segments/header.html" %}  
    </header>

     <div class="banner">
        <p>Sobrevive, Construye, Conquista.</p>
    </div>
</div>
<h2>Catálogo de Survival</h2>

    <!--ficha del primer juego-->
    <div class="game-container">
        <div class="game-card">
            <img src="{% static 'img/Minecraft.png' %}" alt="Minecraft" height="300">
            <h3>Minecraft</h3>
            <p>Minecraft es un videojuego de supervivencia tipo sandbox, también conocido como "de caja de arena", donde los jugadores pueden explorar, construir y modificar un mundo virtual hecho de bloques tridimensionales. El juego permite a los usuarios interactuar con el entorno, recolectar recursos, crear objetos y estructuras, y enfrentarse a criaturas hostiles. </p>
            <p class="price">CLP$ 33000</p>
        </div>

        <!-- Ficha del segundo juego -->
        <div class="game-card">
            <img src="{% static 'img/Palworld.png' %}"  alt="Palworld" height="300">
            <h3>Palworld</h3>
            <p>Palworld es un juego de supervivencia de mundo abierto con criaturas llamadas "Pals" que los jugadores pueden capturar y utilizar para diversos fines, como la construcción, la agricultura, la lucha y el trabajo en fábricas. El juego combina elementos de varios géneros, ofreciendo una experiencia única de supervivencia, combate y gestión.</p>
            <p class="price">CLP$ 43000</p>
        </div>
    </div>

    <footer>
        <p>&copy;2025 Crónicas del Abismo. Todos los derechos reservados.</p>
    </footer>

  
</html>
